/*overrides*/

body { padding-top: 70px; }

/*NAVIGATION BAR*/

.navbar-brand {
  height: 60px;
  margin-top: 13px;
}

.navbar-toggle {
  margin-top: 1.4em;
  border-radius: 0px;
}

.breadcrumb {
  margin-top: 15px;
  float: right;
  background-color: inherit;
}

.breadcrumb li {
  margin-right: 1em;
  padding-top: 5px;
  font-family: courier;
}

.breadcrumb>li+li:before {
  content: none;
}

/*CALL TO ACTION*/

.jumbotron {
  margin-bottom: 0px;
}

.jumbotron .container h1 {
  margin-top: 1em;
  text-align: center;
  font-family: courier;
}

h1 {
  text-align: center;
}

#top {
  height: 0px;
}

.jumbotron .container h1 {
  margin-top: 3em;
}

.jumbotron .container p {
  width: 75%;
  text-align: center;
  margin: 20px auto;
}

.jumbotron .container {
  margin-top: 10em;
  margin-bottom: 25em;
}

.centered {
  text-align: center;
}

.jumbotron {
  width: 100%;
  background-color: pink;
  text-align: center;
}

/*CAROUSEL*/

#myCarousel {
  margin-top: 0px;
  background-color: white;
}


.bs-example h2{
    margin: 0;
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
}

.item{
    background: #333;
    text-align: center;
    height: 600px !important;
}

.carousel{
    margin-top: 20px;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}


/*SERVICES*/

#services {
  padding-bottom: 7em;
  padding-top: 8em;
  background-color: lightblue;
  width: 100%;
}

/*servicesimg*/
#services .row {
  width: 85%;
  margin: auto;
}

#services h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 1em;
}

.col-md-4 {
  margin-bottom: 2em;
  margin-top: 3em;
  text-align: center;
}







/*QUOTE*/

#quote {
  margin-top: 5em;
  margin-bottom: 5em;
  width: 75%;
}

.quoteanchor .jumbotron {
  background-color: orange;
}

/*CLIENTS*/

#clients {
  padding-top: 8em;
  padding-bottom: 8em;
  background-color: lightgray;
}

.pleft {
  text-align: left;
  margin-bottom: 5em;
  width: 75%;
}

.pright {
  float: right;
  text-align: right;
  width: 75%;
  margin-bottom: 2em;
}


/*CONTACT*/

#contact {
  padding-bottom: 7em;
  padding-top: 7em;
  background-color: green;
  width: 100%;
}

#contact h3 {
  width: 75%;
  text-align: center;
  margin: 20px auto 3em auto;
}

form {
  width: 500px;
  margin: auto auto;
}

#inlineform {
  margin-bottom: 10px;
  display: inline;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #888888
}

.inlineleft {
  width: 48%;
  float: left;
}

.inlineright {
  float: right;
  width: 50%;
}

#message {
  width: 100%;
  margin-bottom: 10px;
}

/*FOOTER*/

.footer {
  height: 90px;
  background-color: orange;
}

.footer .text-muted {
  margin-top: 25px;
  font-size: 2em;
  text-align: center
}

/*MOBILE*/

@media screen and (max-width: 520px) {
  form {
    width: 100%;
  }
}

/*M CLIENTS*/
@media screen and (max-width: 750px) {
  .pleft {
  text-align: left;
  margin-bottom: 5em;
  width: 100%;
}

.pright {
  text-align: right;
  width: 100%;
  margin-bottom: 2em;
}
  #clients {
    padding: 4em 2em;
    width: 100%;
    background-color: lightgray;
  }
}