/*overrides*/

body { padding-top: 70px; }
p {
  margin-bottom: 0px;
}

/*NAVIGATION BAR*/

.navbar-brand {
  height: 60px;
  margin-top: 13px;
}

.navbar-default {
  background-color: rgba(255,255,255,0.7);
  height: 70px;
  border-bottom: 0px;
}

.navbar-toggle {
  margin-top: 1.4em;
  border-radius: 0px;
}

.breadcrumb {
  margin-top: 15px;
  float: right;
  background-color: inherit;
}

.breadcrumb li {
  margin-right: 1em;
  padding-top: 5px;
  font-family: courier;
}

.breadcrumb>li+li:before {
  content: none;
}

/*CALL TO ACTION*/

.jumbotron {
  margin-bottom: 0px;
}

.jumbotron .container h1 {
  text-align: center;
  font-family: courier;
}

h1 {
  text-align: center;
}

#top {
  height: 0px;
}

.jumbotron .container h1 {
  margin-bottom: 0.4em;
}

.jumbotron .container p {
  width: 75%;
  text-align: center;
  margin: 20px auto;
}

.jumbotron .container {
  margin-top: 10em;
  margin-bottom: 35em;
}

.centered {
  text-align: center;
}

/*POST INTRO BLURB*/

.postintro {
  text-align: center;
}

.jumbotron {
  width: 100%;
  background-image: url("../imgs/actioncomp.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  text-align: center;
}

/*CAROUSEL*/

#myCarousel {
  margin-top: 0px;
  background-color: white;
}


.bs-example h2{
    margin: 0;
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
}

.item{
    background: #333;
    text-align: center;
    height: 600px !important;
}

.carousel{
    margin-top: 20px;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}


/*SERVICES*/

#services {
  padding-bottom: 7em;
  padding-top: 8em;
  background-color: lightblue;
  width: 100%;
}

/*servicesimg*/
#services .row {
  width: 85%;
  margin: auto;
}

#services h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 1em;
}

.col-md-4 {
  margin-bottom: 2em;
  margin-top: 3em;
  text-align: center;
}

.row hr {
  width: 40%;
}

.row p {
  font-size: 0.9em;
}





/*QUOTE*/

#quote {
  margin-top: 5em;
  margin-bottom: 5em;
  width: 75%;
}

.quoteanchor.container {
  background-color: orange;
}

.quoteanchor {
  text-align: center;
}

.quote1 {
  margin-bottom: 5em;
}

.quoteanchor p {
  font-style: italic;
  margin-top: 2em;
}

/*THE TEAM*/

#theteam {
  padding-top: 5em;
  padding-bottom: 6em;
  background-color: lightgray;
}

.pleft {
  text-align: center;
  margin-bottom: 8em;
  width: 40%;
  float: left;
}

.pright {
  text-align: center;
  margin-bottom: 2em;
  width: 40%;
  float: right;
}

#theteam h1 {
  text-align: center;
  margin-bottom: 2em;
}

#theteam p {
  margin-bottom: 1em;
}

#theteam h2 {
  margin-bottom: 1.5em;
}

/*CLIENTS*/

#clients {
  background-color: yellow;
  text-align: center;
}

#clients h2 {
  width: 100%
}




/*CONTACT*/

#contact {
  padding-bottom: 3em;
  padding-top: 7em;
  background-color: green;
  width: 100%;
  text-align: center;
}

#contact p {

}

#contact h1 {
  margin: 0 auto 1em auto;
}

form {
  width: 500px;
  margin: auto auto;
}

#inlineform {
  margin-bottom: 10px;
  display: inline;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #888888
}

.inlineleft {
  width: 48%;
  float: left;
}

.inlineright {
  float: right;
  width: 50%;
}

#message {
  width: 100%;
  margin-bottom: 10px;
}

.blurb {
  margin-bottom: 1.6em;
}

/*FOOTER*/

.footer {
  height: 130px;
  background-color: orange;
}

.footer .text-muted {
  margin-top: 25px;
  font-size: 2em;
  text-align: center
}

footer p {
  margin-bottom: 0px;
  text-align: center;
  font-size: 0.8em;
}

/*MOBILE*/

@media screen and (max-width: 520px) {
  form {
    width: 100%;
  }
}

/*M CLIENTS*/
@media screen and (max-width: 750px) {
  .pleft {
  text-align: left;
  margin-bottom: 5em;
  width: 100%;
}

.pright {
  text-align: right;
  width: 100%;
  margin-bottom: 2em;
}
  #clients {
    padding: 4em 2em;
    width: 100%;
    background-color: lightgray;
  }
}