/*overrides*/

body { padding-top: 70px; }

p {
  margin-bottom: 0px;
  font-family: 'Gudea', sans-serif;
  font-size: 1.1em;
}

h1 {
  text-align: center;
  font-size: 3em;
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  letter-spacing: 0.03em;
  opacity: 0.8;
}


h2 {
   font-family: 'Raleway', sans-serif;
}

h3 {
 font-family: 'Gudea', sans-serif;
}

.hrbrown, .hrblue {
  margin-top: 0;
  margin-bottom: 1em;
  width: 200px;
  opacity: 0.5;
}

.hrbrown {
  border-top: 1px solid #ECDBCA;
}

.hrblue {
  border-top: 1px solid #466774;
}

/*NAVIGATION BAR*/

.navbar-brand {
  height: 70px;
  width: 70px;
}

.navbar-brand img {
  position: relative;
  bottom: 17px;
  opacity: 0.8;
  -webkit-transition: all 500ms ease;
  -moz-transition:    all 500ms ease;
  -o-transition:      all 500ms ease;
  transition:         all 500ms ease;
}

.navbar-brand img:hover {
  opacity: 0.5;
}

.navbar-default {
  border-bottom: 0px;
  box-shadow: 2px 2px 2px #888888;
}

.navbar-toggle {
  margin-top: 1.4em;
  border-radius: 0px;
}

.breadcrumb {
  margin-top: 15px;
  float: right;
  background-color: inherit;
}

.breadcrumb li {
  margin-right: 1em;
  padding-top: 5px;
  font-family: 'Raleway', sans-serif;
}

.breadcrumb>li+li:before {
  content: none;
}


/*MENU TEXT*/

li a {
  color: black;
}

li a:hover, li a:focus {
  opacity: 0.9;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
}






/*CALL TO ACTION*/

.jumbotron {
  margin-bottom: 0px;
  color: white;
}

.jumbotron .container h1 {
  text-align: center;
  font-family: arial;
}

.jumbotron .container h1 {
  margin-bottom: 0.4em;
}

.jumbotron .container p {
  width: 75%;
  text-align: center;
  margin: 20px auto;
}

.jumbotron .container {
  margin-top: 7em;
  margin-bottom: 0em;
}

.centered {
  text-align: center;
}

.jumbotron {
  width: 100%;
  padding-bottom: 0;
  background-image: url("../imgs/actioncomp2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  text-align: center;
}


/*BUTTONS*/


.btn-primary, .btn-default {
  background-color: #466774;
  color: lightgray;
  margin-bottom: 20em;
  border-radius: 0px;
  border: 2px #466774 solid;
  width: 200px;
  -webkit-transition: all 500ms ease;
  -moz-transition:    all 500ms ease;
  -o-transition:      all 500ms ease;
  transition:         all 500ms ease;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.05em;
  font-weight: 300;
}

.btn-default {
  margin: 0;
}

.btn-primary:hover, .btn-default:hover {
  border: 2px #466774 solid;
  color: white;
  background: rgba(0,0,0,0)
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  background: rgba(0,0,0,0);
  color: white;
  border: 2px #466774 solid;
}




/*POST INTRO BLURB*/

#servicesanchor {
  position: absolute;

  bottom: 5em;
  height: 0;
}

.postintro p {
  text-align: center;
  font-size: 1.5em;
}

#actionquote {
  margin-bottom: 2em;
  margin-top: 3em;
}



/*CAROUSEL*/

/*fonts*/
.carouselcontainer h1, .carousel-mobile h1 {
  color: black;
  /*margin: 0 auto;*/

}

#myCarousel h3, .carousel-mobile h3 {
  color: #466774;
  font-size: 2.5em;
}

#myCarousel p, .carousel-mobile p {
  color: black;
}

/**/

.glyphicon {
  color: #466774;
  font-size: 2.3em !important;
  font-weight: 300;
}

.carouselcontainer {
  padding: 5em 3em;
  /*background-image: url("../imgs/designs/moulin.png");*/
  min-width: 1000px;
  /*background-color: #1A2B39;*/
  background-image: url("../imgs/designs/browndiamond.png");
}

#myCarousel {
  margin: 0 auto;
  max-width: 1100px;
  min-height: 450px;
}

.item{
    background: #333;
    text-align: center;
    height: 300px;
    background-color: inherit;
    margin-top: 1em;
    margin-bottom: 4em;
    min-width: 600px;
}

.carousel-caption {
  text-align: left;
  margin-bottom: 7em;
  padding: 10px 0;
  width: 90%;
  margin-left: 10px;
}

.carousel-inner {
  position: relative;
  width: 80%;
  margin: auto;
}

.col-sm-6 {
  width: 400px;
  height: auto;
  float: right;
  padding-left: 0;
}


.col-sm-5 {
  text-align: left;
  width: 35%;
  margin: auto 0 auto 3em;
  min-width: 200px;
  padding: 0 0 0 0px;
  bottom: 20px;
}

.carousel{
    margin-top: 20px;
}

.carousel-control.left, .carousel-control.right{
  background-image: none;
  width: 50px;
  height: 50px;
  margin: auto;
}

/*CAROUSEL MOBILE*/

.carousel-mobile {
  display: none;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 60px;
}

.carousel-mobile p {
  padding: 0 4em;
}

/*.carousel-mobile h1 {
  margin-bottom: 1em;
}*/

.carousel-mobile hr {
  width: 25%;
  text-align: center;
}

.mproject {
  margin-bottom: 3em;
}










/*SERVICES*/

/*fonts*/
#services h1 {
  color: white;
}

#services p {
  color: black;
  font-size: 1.1 em;
}

#services h3 {
  color: #ECDBCA;
  font-weight: 900;
  letter-spacing: 0.03em;
}

/**/

#services {
  padding-bottom: 7em;
  padding-top: 7em;
  background-image: url("../imgs/action.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  width: 100%;
}

/*servicesimg*/
#services .row {
  width: 85%;
  margin: auto;
}

.col-md-4 {
  margin-bottom: 2em;
  margin-top: 3em;
  text-align: center;
}

.row p {
  width: 90%;
  text-align: center;
  margin: auto auto;
}





/*THE TEAM*/

/*fonts*/
#theteam h1 {
  color: black;
  text-align: center;
  /*margin-bottom: 1em;*/
}

#theteam hr {
  margin-bottom: 3em;
}

#theteam h2 {
  color: #466774;
  margin-bottom: 1.5em;
}
#theteam p {
  color: #071B2B;
  margin-bottom: 1em;
}

/**/

#theteam {
  padding-top: 5em;
  padding-bottom: 6em;
  /*background-image: url("../imgs/designs/moulin.png");*/
  background-image: url("../imgs/designs/browndiamond.png");
}
.pleft {
  text-align: left;
  margin-bottom: 2em;
  /*width: 70%;*/
}

.pright {
  text-align: right;
  margin-bottom: 2em;
  /*width: 70%;*/
  float: right;
}

#theteam img {
  height: 300px;
  border: 4px solid #ECDBCA;
}

.pright img {
  float: left;
  margin: 2em 1em 0 0;

}

.pleft img {
  float: right;
  margin: 4em 0 1em 4em;
}



/*QUOTE*/

#quote {
  margin-top: 5em;
  margin-bottom: 5em;
  width: 75%;
}



.quoteanchor {
  color: white;
  background-image: url("../imgs/noisycomp.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  text-align: center;
}

.quoteanchor {
  text-align: center;
}

.quote1 {
  margin-bottom: 5em;
}

.quoteanchor p {
  font-style: italic;
  margin-top: 2em;
}







/*CLIENTS*/

#clients {
  background-image: url("../imgs/designs/browndiamond.png");
  text-align: center;
}

#clients h2 {
  width: 100%;
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
}

.thumb {
  border: none;
  margin-bottom: 0;
}

.thumbnail {
  margin-bottom: 5px;
  border: none;
  -webkit-transition: all 300ms ease;
  -moz-transition:    all 300ms ease;
  -o-transition:      all 300ms ease;
  transition:         all 300ms ease;
  background-color: transparent;
}

.thumbnail:hover {
  opacity: 0.6;
}




/*CONTACT*/
/*fonts*/
#contact h1 {
  margin: 0 auto 1em auto;
  color: white;
}

#contact p {
  color:white;
  font-size: 1.3em;
  width: 40%;
  margin: 0 auto;
}

#contact {
  padding-bottom: 3em;
  padding-top: 7em;
    background-image: url("../imgs/blur.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  width: 100%;
  text-align: center;
  font-family: 'Gudea', sans-serif;
}



form {
  width: 500px;
  margin: auto auto;
}

#inlineform {
  margin-bottom: 10px;
  display: inline;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #888888;
}

.inlineleft {
  width: 48%;
  float: left;
}

.inlineright {
  float: right;
  width: 50%;
}

#message {
  width: 100%;
  margin-bottom: 10px;
}

.blurb {
  margin-bottom: 1.6em;
}

/*FOOTER*/

.footer {
  height: 110px;
  background-color: #F8F8F8;
  box-shadow: 1px 1px 1px #888888;
}

.footer .text-muted {
  margin-top: 10px;
  font-size: 2em;
  text-align: center
}

footer p {
  margin-bottom: 0px;
  text-align: center;
  font-size: 0.8em;
}






/*MOBILE*/

@media screen and (max-width: 450px) {

.breadcrumb {
  padding-left: 0;
}
.breadcrumb li {
  margin-right: 0.6em;
  font-size: 0.8em;
}
}


/*THE TEAM*/

@media screen and (max-width: 550px) {
  #theteam img {
    display: none;
  }
}


/*CONTACT*/
@media screen and (max-width: 520px) {
  form {
    width: 100%;
  }
}




/*M CAROUSEL*/

@media screen and (max-width: 1000px) {
  .col-sm-6 {
    display: none;
  }

  .carouselcontainer {
/*  padding: 5em 3em;
  background-color: gray !important;
  min-width: 10px;
  width: 100%;*/
  display: none;
}

  .col-sm-5 {
    width: 90%;
  }

  .carousel-control.left, .carousel-control.right {
    display: none;
  }

  .carousel-mobile {
    display: block;
    background-image: url("../imgs/designs/browndiamond.png");

  }

}


/*M CLIENTS*/
@media screen and (max-width: 750px) {
  .pleft {
  text-align: left;
  margin-bottom: 5em;
  width: 95%;
}
.pright {
  text-align: right;
  width: 95%;
  margin-bottom: 2em;
}
  #clients {
    padding: 0em 2em;
    width: 100%;
    background-color: lightgray;
  }

  .postintro {
    width: 100%
  }

    #contact p {
    width: 90%;
  }
}